h1 {
	text-align: center;
	color: Gold;
}
body {
    background-image: url("USCBackground1.jpg");
    margin: 0; 
    height: 100% 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*This takes away the overflow of the pictures when you scroll. Images looks good."*/
    overflow: hidden;
}


#mybutton {
    width: 20%;
}

#mybuttongroup {
	background-color: white;
    width: 100%;
}

#mycontainer {
	background-color: white;
}